.compact-summary {
    background-color: #e0f4ff;
    border: 1px solid #07a3ee;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 0.95rem;
    color: #045f94;
}

.contact-section input:focus {
    outline: none;
    border-color: #07a3ee;
}

.next-btn {
    background-color: #079adf;
    color: white;
    padding: 12px 30px;
    width: 300px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(#5fcbfb,#07a3ee);
}

.next-btn:hover {
    background: linear-gradient(135deg, #07a3ee, #045f94);
    transform: scale(1.03);
}

#submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: #d63031;
    font-size: 0.9rem;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 10px;
    min-height: 18px;
}

.compact-summary .summary-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.compact-summary img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.contact-section {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
#email {
    width: 100%;
}
#phone {
    width: 100%;
}
.contact-section input {
    padding: 15px;
    font-size: 1.1rem;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.btn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    font-weight: bold;
}

.back-btn {
    background-color: #ccc;
    color: #333;
    width: 100px;
}

.back-btn:hover {
    background-color: #bbb;
}

.consent-box {
    margin-top: 20px;
    text-align: left;
    font-size: 0.95rem;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #444;
}

.consent-box input[type="checkbox"] {
    transform: scale(1.2);
    margin-top: 4px;
}

.consent-box a {
    color: #007aff;
    text-decoration: underline;
}

#submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#submit-btn:disabled,
.next-btn.disabled {
    background: linear-gradient(#5fcbfb, #07a3ee);
    filter: brightness(0.75); /* Dim the button */
    color: white;
    opacity: 0.8;
    cursor: not-allowed;
    transform: none;
}
